@model StammtischControl.Models.Entidades.CadastroGeral.Participante
@{
    ViewBag.Title = "Cadastro Participante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastrar Participante</h2>

<section>
    <form method="POST">
        <div>
            <label>Nome:</label>
            <input type="text" name="Nome" />
        </div>
        <div>
            <label>CPF:</label>
            <input type="text" name="CPF"/>
        </div>
        <div>
            <label>E-mail:</label>
            <input type="text" name="Email"/>
        </div>
        <div>
            <label>Telefone:</label>
            <input type="text" name="Telefone" />
        </div>
        <div>
            <br/>
            <input type="submit" value="Salvar"/>
        </div>
    </form>
</section>