/*stammtisch.css*/
label {
    font-weight: bold;
    display: block;
}

input {
    width: 200px;
}

    input[type=submit] {
        width: auto;
    }

.menu {
    font-size: 12px;
    margin: 0;
}

    .menu li {
        list-style-type: none;
        margin: 0;
    }

        .menu li.active {
            font-weight: bold;
        }

section {
    padding-left: 20px;
}

body {
    margin: 0;
    font-size: 14px;
    background-color: #808080;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #222;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    width: 100%;
}
.list {
    float: left;
    background-color: aliceblue;
    margin: 4px;
}

#sidebar {
    background: #bebebe;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 150px;
    overflow: hidden;
    left: 0;
    margin: 0;
}

#content {
    margin: 0 0 0 150px;
}
